@model IEnumerable<AulaNeri2.Models.curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index do Curso padrão</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h6>Apenas testando um título</h6>
<table class="table">
    <tr>
        <th>
           Código Professor
        </th>
        <th>
            Descrição
        </th>
        <th>
            Professor
        </th>
        <th>
            Preço
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.curCodigo
   )
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.curDescricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.curProferror)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.curPreco)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.curCodigo }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.curCodigo }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.curCodigo })
    </td>
</tr>
}

</table>
